@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


body {
    margin: 0;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #CDD4DEcc;
    background: center/cover url(../img/fog.jpg) no-repeat;
    height: 100vh;
}
header {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.25em;
    font-weight: 900;
    color: #565c73;
}

header span {
    background: #565c7322;
}

section h1 {
    color: #CDD4DE99;
    margin: 0;
    font-size: 14em;
    padding-top: 10%;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section p {
    font-size: 1.2em;
    font-weight: 400;
    padding-bottom: 8%;
}

a:link, a:visited {
    color: #565c73ff;
    font-size: .9em;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #565c73;
    border-radius: 5px;
    padding: 10px 15px;
}

a:hover {
    background: #CDD4DE11;
}

a:active {
    background: #CDD4DE11;
}