@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #CDD4DE;
    background: center/cover url(../img/fog.jpg) no-repeat;
    height: 100vh;
}

header {
    text-transform: uppercase;
    font-style: italic;
    color: #565c73;
}

section h1 {
    margin: 0;
    font-size: 10em;
    padding-top: 13%;
}

section h2 {
    margin: 0;
    padding-top: 3%;
    font-size: 2.3em;
}

section p {
    font-size: .9em;
    padding-bottom: 8%;
}

a:link, a:visited {
    color: #565c73;
    font-size: .9em;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #565c73;
    border-radius: 5px;
    padding: 10px;
}

a:hover {
    background: #CDD4DE11;
}

a:active {
    background: #CDD4DE11;
}